<a href="https://colab.research.google.com/github/MuHyeonSon/algorithm/blob/main/BOJ/boj_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#boj 10818
#문제
#N개의 정수가 주어진다. 이때, 최솟값과 최댓값을 구하는 프로그램을 작성하시오.
#입력
#첫째 줄에 정수의 개수 N (1 ≤ N ≤ 1,000,000)이 주어진다. 둘째 줄에는 N개의 정수를 공백으로 구분해서 주어진다.
#모든 정수는 -1,000,000보다 크거나 같고, 1,000,000보다 작거나 같은 정수이다.
#출력
#첫째 줄에 주어진 정수 N개의 최솟값과 최댓값을 공백으로 구분해 출력한다.
#예제 입력 1 
#5
#20 10 35 30 7
#예제 출력 1 
#7 35
n = input()
a = list(map(int,input().split()))
a.sort()
print(f'{a[0]} {a[-1]}')

5
20 10 35 30 7
7 35

In [1]:
#boj 2562
#9개의 서로 다른 자연수가 주어질 때, 이들 중 최댓값을 찾고 그 최댓값이 몇 번째 수인지를 구하는 프로그램을 작성하시오.
#예를 들어, 서로 다른 9개의 자연수
#3, 29, 38, 12, 57, 74, 40, 85, 61
#이 주어지면, 이들 중 최댓값은 85이고, 이 값은 8번째 수이다.
#입력
#첫째 줄부터 아홉 번째 줄까지 한 줄에 하나의 자연수가 주어진다. 주어지는 자연수는 100 보다 작다.
#출력
#첫째 줄에 최댓값을 출력하고, 둘째 줄에 최댓값이 몇 번째 수인지를 출력한다.
a= []
for i in range(9):
    b = int(input())
    a.append(b)
m = max(a)
print(m)
print(a.index(m)+1)

3 29 38 12 57 74 40 85 61
85
7

In [8]:
#boj 2577

d = []
for i in range(3):
  d.append(int(input()))
  
s = (d[0])*(d[1])*(d[2])
s = str(s)
d = []
for i in s : 
  d.append(i)
d.sort()
for i in range(10): 
  print(d.count(str(i)))

150
266
427
3
1
0
2
0
0
0
2
0
0

In [11]:
#boj 3052

a = []
for i in range(10):
  a.append(int(input())%42)

a = set(a)
print(len(a))

24
23
25
23
2
5
4
7
4
3
8

In [10]:
#boj 1546

N = int(input())
sub = []
sub = list(map(int,input().split()))
M = max(sub)
for i in range(len(sub)):
    sub[i] = sub[i]/M*100
sum = 0 
for i in range(len(sub)):
    sum = sum + sub[i]
print(sum/len(sub))

3
20 40 60
66.66666666666667